/*Global Body*/

body{
  background-color: black;
  opacity: 0.9;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
}

/*Header Layout*/

header{
  height: 69px;
  width: 100%;
  padding:0 10px;
  display: flex;
  position: fixed;
  z-index: 5;
  background-color: black;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

header nav{
  padding-right: 25px;
  display: flex;
  justify-content: space-around;
}

header a{
  color: seashell;
  margin: 10px;
}

/*Content Layout*/
.maincontent{
  display:flex;
  position: relative;
  top: 69px;
  flex-direction:column;
  align-items: center;
  padding-bottom:69px;
  margin: 0 25px;
}

/*"Splash" Section*/
.splash{
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  background-position: center;
  align-items: center;
}

.splashbanner{
  display: flex;
  background-color: black;
  width: 1200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splashbanner h2{
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
}
.splashbanner h4{
  display: flex;
  margin-bottom: 5px;
  margin-top: 0px;
}

/*Tea of thje month section*/

.teaofthemonth{
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.teaheader{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.teaheader h2, .teaheader h4{
  display: flex;
  margin: 10px;
}

.assortedteas{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.teatype{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.teatype img{
  margin-bottom:10px;
}
.teatype h4{
  margin: 0px;
}

/*Locations Section*/

.locations{
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  background-image: url("../images/img-locations-background.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.locations h2{
  margin: 0px 0px 15px 0px;
}

.assortedlocations{
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: center;
}

.locationbox{
  height: 280px;
  flex-basis: 300px;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
}

/*Contact info section*/

.contactinfo{
  height: 200px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*Footer Layout*/
footer{
  display: inline-block;
  padding-top: 50px;
  padding-left: 20px;
  bottom:0;
  width: 100%;
  height: 60px;
}
